<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>info.v002.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleGetInfoString</key>
	<string>v002_Open_Kinect version 1.0 Beta 3, Copyright vade.</string>
	<key>CFBundleVersion</key>
	<string>1.0 Beta 4</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0 Beta 4</string>
	<key>QCPlugInClasses</key>
	<array>
		<string>v002_Open_KinectPlugIn</string>
	</array>
</dict>
</plist>
